body {
    background-color: black !important;
}

#coins-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
    justify-content: center;
    background-color: black;
}

.coinIcon {
    height: 110px;
    width: 110px;
}

.coinIcon:hover {
    transform: scale(1.5);
    transition: 0.3s ease;
}

.coinsDiv {
    height: 330px;
    width: 280px;
    border: 1px solid transparent;

    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 25px !important;
    margin-top: 20px !important;
    background: linear-gradient(135deg, #667eea, #764ba2);
    box-shadow: 0px 0px 5px 10px rgba(153, 102, 255, 0.5); 
    
   

}

.price {
    font-size: 24px;
}

.symbol {
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

/* styling for pop up */
#openPopupBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 10%;
    width: 50%;
    height: 50%; /* Full height */
    /* background-color: rgba(0, 0, 0, 0.5); Black w/ opacity */
}

.popup-content {
    background-color: #0b0a0a;
    color: whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}



.searchData {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: black;
    padding: 10px 0;
    z-index: 1000;
}

#searchInput {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    margin-top:5px;
    box-shadow:0px 0px 2px 5px mediumslateblue
    
}

#searchInput[type="text"] {
    font-size: 20px;
}
#searchInput:focus{
    background-color: black;
    color: #D3D3D3;
    box-shadow:0px 0px 2px 5px blue;
}

#submitCoin {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    margin-left:10px;
    margin-top:8px;
    background-color:blue;
}

#submitCoin:hover {
    background-color: rgb(14, 14, 15);
    color: whitesmoke;
}
  /*media queries*/
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    #coins-container {
        gap: 60px;
    }
}
@media screen and (max-width:770px){
    #coins-container{
        gap:50px;
    }
}


/* Pagination */
#pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color:blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-button:hover {
    background-color: #555;
}
